{% extends 'base.html.twig' %}

{% block body %}

<style>
    .maple{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    .img-montreal{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .montreal{
        border-radius: 20px;
    }
</style>

<h1 class="home-title"> Bienvenue / Welcome</h1></br>

<p class="maple"><img class="montreal" src="https://www.studyabroadlife.org/wp-content/uploads/study-canada-blog.jpg" /></p>

<article>
    <h5> Bienvenue sur le blog canadien</h5>
    <p> Ce blog est un livre de richesses concernant le Canada et ses différentes provinces d'Ouest en Est, 
        Découvrez y les plus beau endroits au Québèc, mais aussi en Ontario, Saskatchewan, Manitoba, Alberta, British-Columbia ! 
        Notre blog références des articles contenant les lieux a visiter les plus célèbres et populaire</p>
    <p> Que vous souhaitiez juste vous renseigner avant de partir lors d'un road trip en famille ou entre amis,
        ou que vous ayez tout simplement l'amour de la nature, ou encore envie de découvrir les lieux les plus époustoufflant de la planète,
        vous trouverez ici toutes les informations qu'il vous faudra.</p></br>

    <p class="img-montreal"><img src="https://i.pinimg.com/originals/e5/f0/a6/e5f0a670cf7fab88d720bc6c5a0f1e07.jpg" /></p>
</article>
{% endblock %}

