<h3>You did it! You registered!</h3>

Welcome {{ username }}  !

You're informations about you're account are : 

E-mail: {{ email}}
Password : {{ password }}

Thanks You, We hope to see you soon!

Staff Canadian Maple

